:root {
    --primary-color: #333; 
    --secondary-color: #ffcc00; 
    --text-color: #333; 
    --background-color: #f9f9f9; 
    --font-family: 'Inter', Arial, sans-serif; 
    --font-size-base: 1rem; 
    --padding-base: 20px;
    --border-radius: 8px; }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h1 {
    font-weight: 800;
    font-size: 2.5rem;
    letter-spacing: -2px;
}

h4 {
    font-size: 1.45rem;
}

h6 {
    font-size: 1rem;
    text-transform: uppercase;
}



/* body {
    font-family: 'Inter', sans-serif;
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.container {
    max-width: 800px;
    width: 100%;
    padding: 20px;
}

.logo {
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
}

.message {
    font-size: 1.5rem;
    line-height: 1.6;
    margin-bottom: 20px;
}


a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

a:hover,
a:focus {
    color: #e1306c; 
}


.instagram-icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
}

footer a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #e1306c;
}

.custom-icon {
    width: 50px;
    height: 50px;
    filter: brightness(0) invert(1); 
    transition: filter 0.3s ease;
}

footer a:hover .custom-icon {
    filter: brightness(1) sepia(1) saturate(5) hue-rotate(300deg);
}

@media (max-width: 600px) {
    .logo {
        max-width: 300px;
    }

    .message {
        font-size: 1.2rem;
    }
} */










#initial-cover {
    height: 100vh;
    width: 100%;
    background-image: url('imagen/initial-cover.jpg');
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.contributions {
    display: flex;
    gap: 2.5rem;
    justify-content: space-between;
    /* margin: 0 calc(1rem + 5vw); */
    height: fit-content;
    width: calc(80vw - 2rem);

    background-color: #E2E2E2;
    border-radius: 20px;
    padding: 2rem;
}

.contributions > div {
    /* width: 50%; */
    /* flex-shrink: 0; */
}

.contributions div > img {
    width: 100%;
    height: 40vh;
    object-fit: cover;
}

.contributions-text {
    width: calc(30% + 5vw);
    object-fit: cover;
    background-image: linear-gradient(135deg, rgba(0, 0, 0, 0.8) 0%, rgba(161, 161, 161, 0.8) 100%), 
                  url('imagen/textura-pared.jpg');
    background-size: cover;
    border-radius: 10px;
    overflow: hidden;
}

.contributions-text-detail {
    text-align: left;
    padding: 1rem;
}

.contributions-text-detail h3,
.contributions-text-detail h6,
.contributions-text-detail p {
    margin-top: 1.5rem;
}

.figures {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .85rem;
}

.figures div,
.figures a {
    padding: .5rem 1.2rem;
    border-radius: 5px  ;
    background: #fff;
    text-decoration: none;
    color: #000;
    transition: all .3s, color .05s;
}

@media (hover:hover) {
    .figures a:hover {
        color: #fff;
        background: linear-gradient(60deg, rgb(37, 59, 128), rgb(23, 155, 215));
        transform: scale(1.05);
    }
    .figures a.plan:hover {
        background: linear-gradient(60deg, rgb(37, 128, 75), rgb(55, 215, 23));
    }
}

.figures div.ppal {
    grid-column: span 3;
    
    display: flex;
    text-align: left;
    background-color: #E2E2E2;
    gap: 1rem;
    align-items: center;
    /* border: 1px solid black; */
}

.figures div.ppal img {
    width: auto;
    height: max-content;
}

.figures div h2,
.figures div p {
    color: #000;
}

.figures div.alias {
    grid-column: span 3;
    
    display: flex;
    background-color: #fff;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    
    padding: 0 0 0 1.2rem;

    overflow: hidden;
}

.figures div.alias div {
    height: 100%;
    width: 50%;
    align-content: center;
    border-radius: 0px;
    background-color: black;
}

.figures div.alias div h3,
.figures div.alias div p {
    color: #fff;
}

.figures div.alias div p {
    border-top: 1px solid #fff;
}

.benefits {
    width: 100%;
    height: auto;
    object-fit: cover;
    background-image: linear-gradient(rgba(70, 70, 70, 0.5), rgba(238, 238, 238, 0.5)), url("/imagen/bg-textura.jpg");
    background-size: cover;
    background-blend-mode: lighten;
    padding: 1rem 0rem 3rem;
}

.benefits > img:first-of-type {
    margin: 2rem 0rem;
    width: calc(3rem + 1rem);
    height: auto;
    object-fit: contain;
}

.benefits-details {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.benefits-details > div {
    display: flex;
    flex-direction: column;
    text-align: left;
    color: #505050;
    background-color: rgb(226, 226, 226, .85);
    padding: 2rem;
    margin: auto 1rem;
    width: calc(40% + 4rem);
    border-radius: 10px;
}

.benefits-details > div > h1 {
    color: #FF3619;
}

.benefits-details > div > p {
    margin-top: 1rem;
}

.benefits-details > img:first-of-type {
    width: calc(30% + 2rem);
    height: auto;
}

a.suscribirse {
    width: fit-content;
    justify-items: center;
    align-items: center;
    margin: 1rem 0rem;
    padding: .55rem;
    text-decoration: none;
    font-weight: 500;
    color: #E2E2E2;
    /* background: #000; */
    background: linear-gradient(60deg, rgb(88, 88, 88), rgb(26, 26, 26));
    border-radius: 5px;
    transition: all .3s;
}

@media (hover:hover) {
    a.suscribirse:hover {
        transform: scale(1.05);
        background: linear-gradient(60deg, rgba(167, 36, 16, 0.541), rgba(255, 56, 25, 0.767));
        /* background: linear-gradient(60deg, rgb(37, 128, 75), rgb(55, 215, 23)); */
    }
}

/* clase plural */
.benefits-cards {
    margin: 0rem 2rem;
    display: flex;
    gap: calc(1rem + 1.5rem);
    justify-content: space-around;
    align-items: center;

}

/* clase singular */
.benefit-card img {
    width: 45%;
    border-radius: 50px;
    transition: all .3s;
}

@media (hover:hover) {
    .benefit-card:hover img {
        transform: scale(1.05);
        box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.65);
    }
}