:root {
    --primary-color: #333; 
    --secondary-color: #ffcc00; 
    --text-color: #333; 
    --background-color: #f9f9f9; 
    --font-family: 'Inter', Arial, sans-serif; 
    --font-size-base: 1rem; 
    --padding-base: 20px;
    --border-radius: 8px; }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h1 {
    font-weight: 800;
    font-size: 2.5rem;
    letter-spacing: -2px;
    line-height: 2.35rem;
}

h2 {
    letter-spacing: -1px;
    line-height: 1.5rem;
}

h4 {
    font-size: 1.45rem;
    letter-spacing: -1px;
}

h6 {
    font-size: 1rem;
    text-transform: uppercase;
}



/* body {
    font-family: 'Inter', sans-serif;
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.container {
    max-width: 800px;
    width: 100%;
    padding: 20px;
}

.logo {
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
}

.message {
    font-size: 1.5rem;
    line-height: 1.6;
    margin-bottom: 20px;
}


a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

a:hover,
a:focus {
    color: #e1306c; 
}


.instagram-icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
}

footer a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #e1306c;
}

.custom-icon {
    width: 50px;
    height: 50px;
    filter: brightness(0) invert(1); 
    transition: filter 0.3s ease;
}

footer a:hover .custom-icon {
    filter: brightness(1) sepia(1) saturate(5) hue-rotate(300deg);
}

@media (max-width: 600px) {
    .logo {
        max-width: 300px;
    }

    .message {
        font-size: 1.2rem;
    }
} */






/* Navegador */
.navbar {
    /* position: fixed; */
    position: sticky;
    top: 0px;
    width: 100%;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    
    padding: .85rem 0rem;
    background-color: #000;

    z-index: 999;
}

.navbar .logo img {
    max-width: 30%;
}

.navbar .logo,
.navbar .nav-links,
.navbar .social-icons {
    flex: 1;
}

.nav-links {
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.navbar a {
    text-decoration: none;
    color: #E2E2E2;
}

.nav-links > a > i {
    padding: 0rem .45rem;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

/* Portada inicial */
#initial-cover {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    
    background-position: center;
    background-image: url('imagen/Portada-inicial.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.contributions {
    display: flex;
    gap: 2.5rem;
    justify-content: space-between;
    /* margin: 0 calc(1rem + 5vw); */
    height: fit-content;
    width: calc(80vw - 2rem);

    background-color: #E2E2E2;
    border-radius: 20px;
    padding: 2rem;
}

.contributions > div {
    /* width: 50%; */
    /* flex-shrink: 0; */
}

.contributions div > img {
    width: 100%;
    height: 40vh;
    object-fit: cover;
}

.contributions-text {
    width: calc(30% + 5vw);
    object-fit: cover;
    background-image: linear-gradient(135deg, rgba(0, 0, 0, 0.8) 0%, rgba(161, 161, 161, 0.8) 100%), 
                  url('imagen/textura-pared.jpg');
    background-size: cover;
    border-radius: 10px;
    overflow: hidden;
}

.contributions-text-detail {
    text-align: left;
    padding: 1rem;
}

.contributions-text-detail h3,
.contributions-text-detail h6,
.contributions-text-detail p {
    margin-top: 1.5rem;
}

.figures {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .85rem;
}

.figures div,
.figures a {
    padding: .5rem 1.2rem;
    border-radius: 5px  ;
    background: #fff;
    text-decoration: none;
    color: #000;
    transition: all .3s, color .05s;
}

.figures a.other-value {
    align-self: center;
}

@media (hover:hover) {
    .figures a:hover {
        color: #fff;
        background: linear-gradient(60deg, rgb(37, 59, 128), rgb(23, 155, 215));
        transform: scale(1.05);
    }
    .figures a.plan:hover {
        background: linear-gradient(60deg, rgb(37, 128, 75), rgb(55, 215, 23));
    }
    .figures a.other-value:hover {
        color: #fff;
        background: linear-gradient(60deg, rgb(113, 37, 128), rgb(235, 49, 204));
        transform: scale(1.05);        
    }
}

.figures a.plan {
    position: relative;
}

.figures a .rating span {
    text-transform: uppercase;
    font-weight: 900;
}

.figures div.ppal {
    grid-column: span 3;
    display: flex;
    text-align: left;
    background-color: #E2E2E2;
    gap: 1rem;
    align-items: center;
}

.figures div.ppal img {
    width: auto;
    height: max-content;
}

.figures div h2,
.figures div p {
    color: #000;
}

.figures div.alias {
    grid-column: span 3;

    display: flex;
    background-color: #fff;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    
    padding: 0 0 0 1.2rem;

    overflow: hidden;
}

.figures div.alias div {
    height: 100%;
    width: 50%;
    align-content: center;
    border-radius: 0px;
    background-color: black;
}

.figures div.alias div h3,
.figures div.alias div p {
    color: #fff;
}

.figures div.alias div p {
    border-top: 1px solid #fff;
}

.other-value {
    grid-column: span 3;
}

.benefits {
    width: 100%;
    height: auto;
    object-fit: cover;
    background-image: linear-gradient(rgba(70, 70, 70, 0.5), rgba(238, 238, 238, 0.5)), url("/imagen/bg-textura.jpg");
    background-size: cover;
    background-blend-mode: lighten;
    padding: 1rem 0rem 3rem;
}

.benefits > img:first-of-type {
    margin: 2rem 0rem;
    width: calc(3rem + 1rem);
    height: auto;
    object-fit: contain;
}

.benefits-details {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.benefits-details > div {
    display: flex;
    flex-direction: column;
    text-align: left;
    color: #505050;
    background-color: rgb(226, 226, 226, .85);
    padding: 2rem;
    margin: auto 1rem;
    width: calc(40% + 4rem);
    border-radius: 10px;
}

.benefits-details > div > h1 {
    color: #fa001c;
}

.benefits-details > div > p {
    margin-top: 1rem;
}

.benefits-details > img:first-of-type {
    width: calc(30% + 2rem);
    height: auto;
}

a.suscribirse {
    width: fit-content;
    justify-items: center;
    align-items: center;
    margin: 1rem 0rem;
    padding: .55rem;
    text-decoration: none;
    font-weight: 500;
    color: #E2E2E2;
    background: linear-gradient(60deg, rgb(88, 88, 88), rgb(26, 26, 26));
    border-radius: 5px;
    transition: all .3s;
}

@media (hover:hover) {
    a.suscribirse:hover {
        transform: scale(1.05);
        background: linear-gradient(60deg, rgba(167, 36, 16, 0.541), rgba(255, 56, 25, 0.767));
    }
}

/* clase plural */
.benefits-cards {
    margin: 0rem 2rem;
    display: flex;
    gap: calc(1rem + 1.5rem);
    justify-content: space-around;
    align-items: center;
}

.benefit-card {
    width: 20%;
    height: auto;
    object-fit: cover;
}

/* clase singular */
.benefit-card img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    transition: all .3s;
}

@media (hover:hover) {
    .benefit-card:hover img {
        transform: scale(1.05);
        box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.65);
    }
}


/* Sección de links sociales */
section.social-links {
    width: 100%;
    height: fit-content;
    background-image: linear-gradient(135deg, rgba(0, 0, 0, 0.8) 0%, rgba(161, 161, 161, 0.8) 100%), url('imagen/textura-pared.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: calc(2rem + 2rem);
    padding-right: calc(2rem + 2rem);
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.cover-media {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.cover-media iframe {
    height: calc(60vh - 30px);
    border: none;
    aspect-ratio: 16 / 9;
    border-radius: 10px;
}

.cover-media-btn {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: left;
    width: 30%;
}

.cover-media-btn > div {
    display: flex;
    gap: 1rem;
}

.cover-media-btn a {
    padding: 1rem;
    font-size: 1.45rem;
    font-weight: 200;
    text-decoration: none;
    color: #E2E2E2;
    border-radius: 5px;
    transition: all .3s;
}

.cover-media-btn a:nth-child(1) {
    background-color: #9046FF;
}

.cover-media-btn a:nth-child(2):not(.cover-media-insta a) {
    background-color: #fa001c;
}

.cover-media-btn i {
    margin-right: .6rem;
}

@media (hover:hover) {
    .cover-media-btn a:hover {
        transform: scale(1.05);
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
    }
}

.cover-media-insta {
    display: flex;
    width: fit-content;
    flex-direction: column;
}

.cover-media-insta a {
    padding: .5rem;
    background-color: #E2E2E2;
    color: #333;
}

@media (hover:hover) {
    .cover-media-insta a:hover {
        transform: scale(1.05);
        box-shadow: none;
    }
}

a.insta {
    width: fit-content;
    justify-items: center;
    align-items: center;
    margin: 0rem;
    padding: .55rem;
    text-decoration: none;
    font-weight: 500;
    color: #E2E2E2;
    background: linear-gradient(60deg, rgb(88, 88, 88), rgb(26, 26, 26));
    border-radius: 5px;
    transition: all .3s;
}

@media (hover:hover) {
    a.insta:hover {
        transform: scale(1.05);
        background: linear-gradient(60deg, rgba(167, 36, 16, 0.541), rgba(255, 56, 25, 0.767));
    }
}


/* Sección de Tienda */
#store {
    width: 100%;
    height: fit-content;
    padding: 2rem 0rem;
    background: linear-gradient(45deg, rgba(216, 119, 184, 0.7) 0%, rgba(255, 56, 25, 0.7) 100%), url('imagen/Portada-inicial.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.store-btn {
    display: flex;
    width: fit-content;
    flex-direction: column;
}

.store-btn a {
    display: flex;
    gap: .45rem;
    justify-items: center;
    align-items: center;
    
    width: fit-content;
    margin: 1rem 0rem;
    padding: .55rem;
    
    font-size: 1.45rem;
    font-weight: 500;
    text-decoration: none;
    
    color: #333;
    background: linear-gradient(60deg, rgb(214, 214, 214), rgb(138, 138, 138));
    border-radius: 5px;
    
    transition: all .3s;
}

@media (hover:hover) {
    .store-btn a:hover {
        transform: scale(1.05);
        color: #E2E2E2;
        background: linear-gradient(60deg, rgba(167, 36, 16, 0.541), rgba(255, 56, 25, 0.767));
    }
}

.store-action {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: left;
    width: 30%;
}

.store-action > div {
    display: flex;
    gap: 1rem;
}

.store-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;
    height: fit-content;
}

.store-cards a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
    max-width: 200px;
    height: 200px;
    flex: 1;
    
    border-radius: 5px;
    box-shadow: 0px 5px 15px #000;
    background-color: #fff;
    overflow: hidden;

    transition: all .3s;
}

.store-cards a h3 {
    font-weight: 500;
    font-size: large;
    border-radius: 5px;
    color: #333;
    background-color: #E2E2E2;
    padding: .65rem;
    position: absolute;
    bottom: 40%;
    visibility: hidden;
    z-index: 99;
    transition: all .15s ease-in-out;
}

.store-cards a img {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    transition: all .3s;
}

@media (hover:hover) {
    .store-cards a:hover  {
        box-shadow: 0px 8px 20px #000;
        transform: scale(1.05);
    }
    .store-cards a:hover h3 {
        visibility: visible;
        bottom: 50%;
    }
    .store-cards a:hover img {
        opacity: 30%;
    }
}

.cover-store {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.cover-store img {
    width: 30%;
    height: auto;
}

/* Sección de formulario */
.contact-form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 3rem;
    width: 100%;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url('/imagen/Dark-PaperTextures-07.jpg');
}

.form-contain {
    /* display: flex; */
    width: 70%;
    height: max-content;
    margin: 1rem;
    /* border: 5px solid #fa001c; */
    border: 5px solid #fa001c;
    border-radius: 10px;
    overflow: hidden;
}

.form-contain form {
    display: flex;
}

.form-contain form > img {
    width: 50%;
    object-fit: cover;
    aspect-ratio: 1 / 1;
}

.form-contain form .info-form {
    width: 50%;
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: .5rem;
    background-color: #333;
}

.info-form h3 {
    font-weight: 200;
    font-size: 1.25rem;
    text-align: left;
}

.info-form input,
.info-form textarea {
    margin-top: .7rem;
    display: flex;
    width: 100%;
    font-family: 'Inter';
    padding: .45rem;
    align-items: center;
    background-color: #E2E2E2;
    border-radius: 5px;
    font-size: medium;
}
.info-form input{
    height: calc(1rem + 20px);
}
.info-form textarea {
    height: 4.5rem;
}

.info-form button {
    display: flex;
    gap: .45rem;
    justify-items: center;
    align-items: center;
    
    width: fit-content;
    margin: 1rem 0rem;
    padding: .55rem;
    
    font-size: 1.45rem;
    font-weight: 500;
    text-decoration: none;
    
    color: #333;
    background: linear-gradient(60deg, rgb(214, 214, 214), rgb(138, 138, 138));
    border-radius: 5px;
    border-width: 0px;
    border-color: transparent;
    
    transition: all .3s;
}

@media (hover:hover) {
    .info-form button:hover {
        cursor: pointer;
        transform: scale(1.095);
        color: #E2E2E2;
        background: #000;
    }
}

div.footer {
    display: flex;
    gap: .3rem;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

div.footer a {
    color: #E2E2E2;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .3s;
    padding: .2rem;
}
div.footer a p {
    transition: all .3s;
}

@media (hover:hover) {
    div.footer a:hover p {
        transform:translateY(-.5rem);
        color:#fa001c;
    }
}