@media (max-width:960px) {
    .navbar{
        display: none;
    }

    #initial-cover {
        height: fit-content;
        margin: 1rem;
        padding: 1rem 2rem;
    }
    .contributions {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        height: fit-content;
        width: 100%;
        background-color: #E2E2E2;
        border-radius: 20px;
        padding: 1rem;
    }
    .contributions-text {
        width: 100%;
    }
    .contributions-text-detail h3,
    .contributions-text-detail h6,
    .contributions-text-detail p {
        margin-top: .5rem;
    }

    .cover-media {
        flex-direction: column;
    }
    section.social-links {
        padding: 1rem .5rem 2rem;
    }
    .cover-media iframe {
        height: 100%;
        width: 100%;
    }

    .contributions > div {
        width: 100%;
    }

    .figures {
        max-width: 100%;
        display: grid;
        grid-template-columns: auto;
        gap: .25rem;
        /* grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); */
    }
    .figures a {
        padding: .85rem;
    }
    .figures h2 {
        font-size: 1.085em;
    }
    .figures div.ppal {
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }
    .figures div.ppal img {
        width: 5.5rem;
    }
    .figures div.alias {
        align-items: start;
        flex-direction: column;
        padding: .55rem 0rem 0rem;
        gap: .55rem;
    }
    .figures div.alias > p {
        padding: 0rem 1rem;
    }

    .figures div.alias div {
        width: 100%;
    }



    /* Benefits */
    .benefits {
        padding: 1rem;
    }

    .benefits-details > img:first-of-type {
        width: 100%;
    }

    .benefits-details {
        flex-direction: column;
        gap: 0rem;
    }
    .cover-media-btn {
        width: 100%;
        padding: 0rem 1rem;
    }
    .benefits-details > div {
        width: 100%;
    }



    /* Tienda */
    .cover-store {
        flex-direction: column;
        gap: .8rem;
    }
    .cover-store img {
        width: 100%;
    }

    .store-action {
        width: 100%;
        padding: 0rem 1rem;
        gap: .5rem;
    }

    .store-elements {
        overflow: scroll;
    }
    .store-cards {
        width: fit-content;
        padding: 0rem 2rem;
    }

    .store-cards a {
        width: 300px;
        height: auto;
    }
    .store-cards a img {
        height: 100%;
    }


    /* Formulario */

    .contact-form {
        padding: 1rem;
    }
    .form-contain {
        width: 100%;
        margin: 0rem;
    }
    .form-contain form {
        flex-direction: column;
    }
    .form-contain form > img{
        width: 100%;
    }
    .form-contain form .info-form {
        width: 100%;
    }
    .form-contain form .info-form h2,
    .form-contain form .info-form h3 {
        text-align: start;
    }


    /* BTN de Tienda debajo de la portada */
    .tienda-banner {
        display: flex;
        flex-direction: column;
        gap: .15rem;
        justify-content: center;
        align-items: center;
        text-align: start;
        padding: 1rem 2rem;
    }

    a.suscribirse {
        width: fit-content;
        justify-items: center;
        align-items: center;
        margin: 1rem 0rem;
        padding: .55rem;
        text-decoration: none;
        font-weight: 500;
        color: #E2E2E2;
        background: linear-gradient(60deg, rgb(88, 88, 88), rgb(26, 26, 26));
        border-radius: 5px;
        transition: all .3s;
        }

    a.ver-productos {
        width: 100%;
        display: flex;
        gap: 1rem;
        justify-items: center;
        align-items: center;
        margin: 1rem 0rem;
        padding: .85rem .8rem;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 500;
        color: #E2E2E2;
        background: linear-gradient(60deg, rgb(88, 88, 88), rgb(26, 26, 26));
        border-radius: 5px;
        transition: all .3s;
    }

}

@media (max-width:740px) {
    .figures a {
        padding: .65rem .2rem;
    }
    #initial-cover {
        padding: 1rem .35rem;
    }
}

@media (min-width:1500px) {
    .contributions {
        justify-content: space-evenly;
    }
    .contributions-text {
        width: 100%;
    }
}